#Note: Change these passwords before running docker-compose

#MySQL Settings
DOJO_MYSQL_HOST=mysql
DOJO_MYSQL_PORT=3306

#MySQL Passwords Settings
MYSQL_DATABASE=dojo
MYSQL_USER=dojodb
MYSQL_PASSWORD=MYSQLPWD
MYSQL_ROOT_PASSWORD=MYSQLROOTPWD

#Dojo Admin User
DOJO_ADMIN_USER=admin
DOJO_ADMIN_NAME='Admin User'
DOJO_ADMIN_EMAIL=admin@dojo.local
DOJO_ADMIN_PASSWORD=DOJOADMINPWD

#DOJO Web Setup
DJANGO_DEBUG=True
#Move DOJO into a subdirectory (optional)
DOJO_URL_PREFIX=

C_FORCE_ROOT='True'
